<div class="main-container">
    <div id="" class="content text-center">
      <div class="login-container text-center ui-g-6 ui-md-6">
	<div class="shadow-box ui-shadow-3">
	<div class="login-logo">
	</div>
	<div class="login-heading">
          <i class="material-icons" aria-hidden="true">lock</i><span style="margin-left: 10px;">VBS Bookings Module</span>
	</div>
	<div class="input-container ui-grid ui-grid-responsive ui-fluid form-group">
          <div *ngIf="isInvalidCredentials" class="invalid-login"><b>Invalid credentials</b></div>
          <div class="ui-g-12 ui-md-12">
            <span class="md-inputfield">
              <input pInputText type="text" required [(ngModel)]="username" [ngClass]="{'error': isInvalidUsername}">
              <label>Username</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-12">
            <span class="md-inputfield">
              <input pInputText type="password" required [(ngModel)]="password" [ngClass]="{'error': isInvalidPassword}" focus="{true}">
              <label>Password</label>
            </span>
          </div>
          <button  pButton (click)='login()' label="Login"></button>
	</div>
	<div>
          <a target="_blank">Forgot your password?</a>
	</div>
	<div>
          Dont have an account? <a target="_blank">Register Now</a>
	</div>
	</div>
      </div>
    </div>
</div>
<p-dialog [(header)]="headerTitle" [(visible)]="applog.showNotification" modal="modal" showEffect="fade" responsive="true" [(closable)]="applog.allowDismissal">
  <p>{{applog.stdLog}}</p>
  <footer *ngIf="applog.allowDismissal">
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton  (click)="applog.showNotification = false" label="Ok"></button>
    </div>
  </footer>
</p-dialog>
